@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.snip1532 {
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #000000;
  display:inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 10px 0.5%;
  max-width: 310px;
  min-width: 250px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

.snip1532 *,
.snip1532 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

.snip1532 img {
  max-width: 100%;
  vertical-align: top;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}

.snip1532 figcaption {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 0;
}

.snip1532 h3 {
  font-size: 20px;
  margin: 0;
  padding: 0 20px;
  text-transform: uppercase;
}

.snip1532:hover figcaption,
.snip1532.hover figcaption {
  opacity: 1;
}

.snip1532:hover img{
  opacity: 0.5;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}